Lab7_1/src/main/java/XML/FileSystem.dtd

<!ELEMENT FileSystem (Folder*)>
        <!ELEMENT Folder (File*)>
        <!ELEMENT File (#PCDATA)>
        <!ATTLIST Folder
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST File
                id ID #REQUIRED
                name CDATA #REQUIRED
                size CDATA #REQUIRED
                >